body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(images/bg.PNG); /* Path to your background image */
  background-size: 1000px; /* Ensures the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed during scroll */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1fb9be;
  color: rgb(248, 248, 248);
  position: fixed;
  right:8px;
  width: 100%;
  padding: 25px; /* Increased padding for better appearance */
  z-index: 900; /* Ensures the header is on top of other content */
}
h1{
  display:flex;
  font-size:larger;
  position: absolute;
  left: 220px;
}
.logo img {
  width: 75px; /* Adjust logo size */
  height: auto;
  position: fixed;
  left: 70px;
  top:5px;
  margin-right: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(252, 252, 252);
  font-size:medium;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration:double;
}

footer {
  text-align: center;
  padding: 0.5px;
  background-color: #333;
  color: rgb(253, 243, 243);
  position: absolute;
  width: 100%;
  bottom: 0;
}
